*VT100*background: black
*VT100*foreground: lightgrey
*VT100*faceName: "DejaVu Mono"

*VT100*faceSize: 9
*VT100*faceSize1: 6
*VT100*faceSize2: 7
*VT100*faceSize3: 9
*VT100*faceSize4: 10
*VT100*faceSize5: 14
*VT100*faceSize6: 15

XTerm*VT100*geometry: 180x60

XTerm*scrollBar: true
*VT100*scrollTtyOutput: false
